@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><b>Food Calendar</b></h1>
    <p>This is a Food Calendar to keep track of your food dishes and help spread out your meals!</p>
</div>
<div class="text">
    <p>
        <b>1. Add Dish Types:</b> <br>
        &emsp; You can add by: <br>
        &emsp; - Cuisine(Italian, Mexican, Thai) <br>
        &emsp; - Main ingredient(Pasta, Chicken, Fish) <br>
        &emsp; - Meal type(Breakfast, Lunch, Dinner) <br>
        You can Edit, View Details, and Delete your entrys.
    </p>
    <p>
        <b>2. Food Entry:</b> <br>
        &emsp; - Click "Create New" <br>
        &emsp; - Add the name of the dish <br>
        &emsp; - Add when you last ate the dish <br>
        &emsp; - Use the drop down to select the dish type <br>
        &emsp; - Add the number of people the dish can feed <br>
        &emsp; - Enter the recipe, you can copy and paste a link to the recipe or type the full recipe<br>
        You can Edit, View Details, and Delete your entrys.
    </p>
</div>
