@page
@model FoodCalendar.Pages.Foods.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Food</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Food.Id" />
            <div class="form-group">
                <label asp-for="Food.FoodName" class="control-label"></label>
                <input asp-for="Food.FoodName" class="form-control" />
                <span asp-validation-for="Food.FoodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.LastAte" class="control-label"></label>
                <input asp-for="Food.LastAte" class="form-control" />
                <span asp-validation-for="Food.LastAte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.TypeId" class="control-label"></label>
                <select asp-for="Food.TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                <span asp-validation-for="Food.TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.NumofPeople" class="control-label"></label>
                <input asp-for="Food.NumofPeople" class="form-control" />
                <span asp-validation-for="Food.NumofPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.Recipe" class="control-label"></label>
                <input asp-for="Food.Recipe" class="form-control" />
                <span asp-validation-for="Food.Recipe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
